<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @catering.name %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag(@catering.picture, :size => '100x100') %>
</p>

<p>
  <strong>Price:</strong>
  <%= @catering.lowprice %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @catering.manufacturer %>
</p>

<p>
  <strong>Category:</strong>
  <%= @catering.category %>
</p>


<%= link_to 'Edit', edit_catering_path(@catering) %> |
<%= link_to 'Back', caterings_path %>
